/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

@import 'theme/swiper.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .error {
    @apply text-red-500 dark:font-semibold mt-1 text-sm;
  }

  div.input-wrapper {
    @apply flex flex-col;
  }

  .image-button {
    @apply relative z-10 rounded-full 
    flex justify-center 
    items-center w-12 h-12 
    bg-zinc-700 
    bg-opacity-40 
    hover:bg-zinc-600 
    active:bg-zinc-800
    hover:bg-opacity-40
    active:bg-opacity-40
    transition-colors;

    img {
      @apply invert;
    }
  }

  .icon-button {
    @apply bg-transparent flex text-primary items-center text-base font-bold;

    img {
      @apply transition-all;
      filter: invert(42%) sepia(11%) saturate(3834%) hue-rotate(251deg)
        brightness(93%) contrast(87%);
    }

    &:hover {
      img {
        filter: invert(52%) sepia(23%) saturate(1247%) hue-rotate(249deg)
          brightness(86%) contrast(90%);
      }
    }

    &:active {
      img {
        filter: invert(37%) sepia(66%) saturate(716%) hue-rotate(252deg)
          brightness(82%) contrast(88%);
      }
    }
  }

  .icon-button.neutral {
    @apply text-black dark:text-white;

    img {
      @apply filter-none dark:invert;
    }

    &:hover {
      img {
      }
    }

    &:active {
      img {
      }
    }
  }
}

* {
  box-sizing: border-box;
}

ion-button[shape='round'] {
  --padding-start: 1rem;
  --padding-end: 1rem;
}
