<article>
  <app-post-header
    [profileId]="'f40eb085-0043-486b-ae56-9f440ac8a480'"
    profileName="jankrue"
  ></app-post-header>

  <swiper-container [modules]="swiperModules">
    <swiper-slide>
      <img
        ngSrc="https://images.unsplash.com/photo-1547190994-0dfe4ab1bdae?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        fill
        priority
      />
    </swiper-slide>
    <swiper-slide>
      <swiper-slide>
        <img
          ngSrc="https://images.unsplash.com/photo-1554107136-57b138ea99df?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          fill
        /> </swiper-slide
    ></swiper-slide>
    <swiper-slide>
      <swiper-slide>
        <img
          ngSrc="https://plus.unsplash.com/premium_photo-1688429242440-85b191ed6b26?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          fill
        /> </swiper-slide
    ></swiper-slide>
  </swiper-container>

  <app-post-footer></app-post-footer>
</article>
