<div class="flex">
  <div class="flex items-center gap-4">
    <button
      class="icon-button neutral like-button"
      [class.liked]="liked"
      [@likeButtonAnimation]="liked"
      (click)="liked = !liked"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-heart icon like-icon"
      >
        <path
          d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"
        ></path>
      </svg>
    </button>
    <button class="icon-button neutral">
      <img src="assets/icon/comment.svg" alt="like" class="icon" />
    </button>
    <button class="icon-button neutral">
      <img src="assets/icon/forward.svg" alt="like" class="icon" />
    </button>
  </div>
</div>
<span class="text-sm font-semibold mt-2">{{ 122 }} likes</span>
<p class="description mb-20">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe doloremque
  accusamus, iusto eaque odio recusandae esse molestiae ipsa rem dolor, corporis
  quasi, labore voluptate deleniti quae. Culpa harum optio sint.
</p>
